
<!doctype html>
<html>
  <head>
    <title>Single Chat</title>

<link href="../main.css" rel="stylesheet" type="text/css">

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>

<script type="text/javascript" src="/partials/message.js"></script>
<script type="text/javascript">

    </script>
  </head>
  <body>
    <ul id="messages">
      
    </ul>

    <h3>Room Code: <%= RC %></h3>

    <div>
      <h1>Your name is:<h2 id="nameOfUser">Jane Doe</h2> </h1>
    </div>

    <form action="">
      <input id="message" autocomplete="off" />
      <button>Send</button>
    </form>
    <button id="clearLC" onclick="clearCache()">Clear Chat Window</button>
    <button id ="UserNameChange" onclick="myFunction()">Change Your User Name</button>

  </body>
</html>
    