<!DOCTYPE html>
<html>
<head>
	<title>Test Form</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	<script src="test.js"></script>
	<link href="../testcss.css" rel="stylesheet" type="text/css">

</head>
<body>
	<h1>Welcome to the Lobby</h1>
<div>
	<form action="/assignments/login" method="POST">

		<input type="text" id="username" name="username" placeholder="ChatRoom Number">
		<br>
		<button id="roomCode" onclick="login();">Join Chat Room</button>

		<div id="status">			
		</div>
	</form>
</div>

</body>
</html>