<!DOCTYPE html>
<html>
<head>
	<title>Test Form</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	<script src="test.js"></script>
</head>
<body>
<div>
	<form action="/assignments/login" method="POST">

	<input type="text" id="username" name="username" placeholder="username"><br>
	<button onclick="login();">Log in</button>

	<div id="status"></div>
</form>

</div>

</body>
</html>